* {
   margin:0;
   padding:0; 
 }

 .dark {
   background-color: rgb(89, 58, 63)
 }

 .header {
   color: rgb(220, 155, 166);
   display: flex;
   justify-content: space-between;
   border-bottom: 7px solid rgb(160, 112, 120);
   margin-top: 25px;
   font-family: "Caveat", cursive;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }

 .sun {
   font-size: 50px;
   display: inline-block;
   margin-right: 10px
}

.thick-line {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 5px; /* Adjust the width as needed */
   background-color: rgb(160, 112, 120); /* Change the color as needed */
   margin-left: 500px;
}

 body {
   background-color: tan;
   font-family: "Playpen Sans", cursive;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }

 .maggiesblog{
   color: beige;
   display: inline-block;
   font-size: 50px;
 }

 .blogquestion{
   color: beige;
   display: inline-block;
   margin-left: 200px;
   font-size: 45px;
 }

 main {
   position: absolute;
 }

 .flying {
   position: absolute;
   width: 300px;
   height: 300;
   border-radius: 300px;
   margin: 80px;
 }

 aside {
   display:flex;
   flex-direction: column;
   text-align: end;
   padding: 50px;
}

form {
   display: flex;
   flex-direction: column;
   position: absolute;
   margin-left: 600px;
}


ul {
   color :rgb(160, 112, 120)
   list-style-type: none;
   flex-direction: column;
   display: flex;
}

li {
   color: rgb(160, 112, 120);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}


#submitbtn {
   background-color: rgb(160, 112, 120);
   color: beige;
   padding: 10px 20px;
   border: none;
   width: 100%;
}

#name {
   width: 700px;
   margin: 5px
}

#title {
   width: 700px;
   margin: 5px;
}

#content {
   width: 700px;
   height: 500px;
   margin: 5px;
}